<div class="panel-body" id="searchBarOuterDiv">
    @using (Html.BeginForm("SearchTeams", "Home"))
    {
        <div class="form-group">
            <label>Search By:</label>
            @Html.DropDownList("searchBy", new[] {
              new SelectListItem() { Text = "Name", Value = "Name"},
              new SelectListItem() { Text = "Region", Value = "Region"},
              new SelectListItem() { Text = "Captain", Value = "Captain"}
            }, "Anything", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Search For:</label>
            @Html.TextBox("searchText", "", new { @class = "form-control" })
        </div>

        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Go!" />
        </div>
    }
</div>
