
/* General Stylizations */

html{
    width: 75%;
}

body{
    background-color: black; 
}

/* Background Settings */

.headerimage {
    height: 100px;
    width: 100%;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #141414
}

#headerIMG {
    position: relative;
    height: 100px;
    width: 100%;
    background: center;
    background-size: cover;
    background-image: url("../images/KZ_Banner.jpg");
}

#form-PersonalInfo fieldset {
    background-size: cover;
    margin-left: 7px;
    background: center;
    background-repeat: no-repeat;
    background-image: url("../images/KZ_logo.png");
    background-color: #141415;
    width: 100%;
    border: 3px solid;
    border-color: red;
    color: crimson;
}

#exp-otherInfo fieldset {
    background-image: linear-gradient(#161616, #050505);
    width: 100%;
    border: 3px solid;
    border-color: red;
    color: crimson;
    height: auto;
}

.backgroundImage {
    background-size: cover;
    background: center;
    background-repeat: no-repeat;
    background-image: url("../images/COD_Background.jpg");
    
}

/* Targeted Generics */

#reqFields {
    position: relative;
    text-align: center !important;
    font-size: 36px !important;
    padding: 10px !important;
    margin: 5px !important;
    color: deepskyblue;
}

.feedback {
    position: relative;
    padding: 5px;
    margin: 2px;
    color: deepskyblue;
}

#headerText {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    text-align: center;
    font-size: 20px;
    color: crimson;
    padding-left: 60px;
    width: 100%;
}

input{
    background-color: aliceblue;
}

label, input{
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

p{
    margin: 15px;
    text-align: justify left;
}

textarea{
    resize: none;
}

.txtarea textarea{
    padding: 20px;
    margin-top: 10px;
    background-color: aliceblue;
}

.txtareaSm textarea {
    position: relative;
    left: 40px;
    background-color: aliceblue;
    margin: 5px;
    padding: 15px;
}

.sectHeader{
    font-size: 26px;
    font-weight: bold;
}

/* Divider Settings */

.sectDiv {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

/* Specific Stylizations */

#playerRef {
    display: inline-block;
    position: relative;
    left: 35px;
    padding: 5px;
    margin: 10px;
}

#clipsExtraTxt {
    display: inline-block;
    font-size: 14px;
    padding: 10px;
}

/* Submit Application Button Stylization */

.submitApp-btn{
    position: relative;
    left: 20px;
    bottom: 5px;
}

.submitApp-btn label{
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    color: aliceblue;
    padding: 6px;
    margin: 5px;
    background-color: darkslateblue;
}

.submitApp-btn label:hover{
    background-color: aliceblue;
    color: darkslateblue;
    cursor: pointer;
}

/* Upload Button Stylization */

.uploadBtn{
    position:relative;
    left: 20px;
    top: 10px;
}

.uploadBtn label{
    position: relative;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    color: aliceblue;
    padding: 6px;
    margin: 5px;
    background-color: darkslateblue;
}
.uploadBtn label:hover{
    background-color: aliceblue;
    color: darkslateblue;
    cursor: pointer;
}