body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

footer {
    font-size: 12pt;
    font-weight: bold;
    background-color: red;
    color: black;
    position: relative;
    bottom: 0px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

.footer-text {
    position: absolute;
    color: gold;
    left: 50px;
    margin-left: 20px !important;
}



#siteHeader {
    height: 80px;
}

#siteHeader h2{
    font-weight: bold;
    position: absolute;
    left: 40%;
    width: 300px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    background-color: red;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    color: black;
    position: relative;
    left: 50px;
    align-content: center;
    font-weight: bolder;
    margin-bottom: 40px;
}

.INDEXactionLinkDiv {
    margin: 50px;
    position: relative;
    left: 40px;
}

.INDEXactionLink{
    font-size: 22pt;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

.INDEXactionLink:hover {
    text-decoration: none;
    color: gold;
}